@font-face {
  font-family: myFirstFont;
  src: url("Quantum.otf");
  src: url("Rhesmanisa.otf");
}
* {
  color: white;
}

.events_section {
  /* background: url(./backGround.svg); */

  padding: 100px 50px;
  width: 100vw;
}
.heading {
  margin-top: 0.5vw;
  text-align: center;
  font-size: 3.5vw;
  font-weight: 300;
  text-shadow: 1px 1px 1px blue, 0 0 0.5em rgba(0, 0, 255, 0.671),
    0 0 0.5em rgba(1, 1, 255, 0.644);
  color: white;
  font-family: myFirstFont;
  font-size: 6vw;
}

.events_container {
  margin-top: 10px;
  /* background: url(./backGround.svg); */

  width: auto;
  /* background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)); */
  /* url("./Hero.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex-wrap: wrap;
  padding: 0 50px;
}
@media screen and (max-width: 768px) {
  .events_container {
    padding: 0;
  }
}

/* category button css */
.button_container {
  /* background-color: #212529; */
  margin-top: 23px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between; /* Distributes items evenly with space around */
  flex-wrap: wrap; /* Allows items to wrap to the next line if necessary */
}

.custom_btn {
  /* background-color: #ffc107; */
  background-color: rgba(134, 132, 132, 0.649);
  border: 2px solid rgb(43, 43, 43);
  border-radius: 15px;
  /* background: transparent; */
  /* color: #047ef8; Bootstrap default text color */
  text-transform: capitalize;
  font-size: 1.5rem; /* Equivalent to Bootstrap fs-4 */
  padding: 10px 20px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

/* Optionally, you can style the button on hover or focus */
.custom_btn:hover,
.custom_btn:focus {
  /* background-color: #169aff; */
  background-color: rgba(4, 4, 214, 0.363);

  /* Add other hover/focus styles */
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .button_container {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
  }
}
@media (max-width: 480px) {
  .heading {
    font-size: 13vw;
  }
}
